body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1{
    font-size: 105px;
    line-height: 100%;

}


h2{
    margin-top: -90px;
}

.subheader1{
    width: 105%;
}


.hst1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}


.hst1 img{
    width: 100%;
    margin-top: 30px;
}

.herosec{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}


section{

    height: 600px;
}


.button1{
        color: white;
        background-color: #F9004B;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid #F9004B;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-top: 15px;
}


#proj1{
    background-color:transparent ;
    border: 2px solid #F9004B;
    color: #F9004B;
    margin-left: 10px;
    
}

.boombaam{
    color: #F9004B;
}