body{
    background-color: #101820;
}

.hst1{
    margin-left: 70px;
    width: 50%;
    float: left;
    color: white;
    
}

.hsi1 img{
    width: 40%;
    margin-top: 70px;
    float: left;
}

.button1{
    color: white;
    background-color: #F9004B;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #F9004B;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#proj1{
    background-color: #101820 ;
    border: 2px solid #F9004B;
    color: #F9004B;
    margin-left: 15px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 105px;
    line-height: 100%;
    color: #F9004B;
}


h2{
    margin-top: -85px;
    font-family: 'Bree Serif', serif;
    font-size: 36px;
}

#brand{
    color: #F9004B;
}

.subheader1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    width: 95%;
    margin-bottom: 50px;
}


